{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<h3 class="text-center mb-4">Company Registration</h3>

<form method="POST">

<div class="mb-3">
<label>Company Name</label>
<input type="text" name="name" class="form-control" required>
</div>

<div class="mb-3">
<label>HR Contact</label>
<input type="text" name="hr_contact" class="form-control">
</div>

<div class="mb-3">
<label>Website</label>
<input type="text" name="website" class="form-control">
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control" required>
</div>

<div class="mb-3">
<label>Password</label>
<input type="password" name="password" class="form-control" required>
</div>

<button class="btn btn-success w-100">
Register
</button>

</form>

<hr>

<p class="text-center">

Already have an account?

<a href="/login">Login</a>

</p>

</div>

</div>

{% endblock %}